<% layout("/layouts/boilerplate")%>

<div class="row mt-3">
    <div class="col-6 offset-3">
      <h2 class="col-6 offset-3">Login</h2>
        <form action="/login" method="POST">
        <label class="form-label fw-semibold">username</label>
          <input
            type="text"
            class="form-control form-control-lg"
            name= "username"
            required
          >
           <label class="form-label fw-semibold">password</label>
          <input
            type="password"
            class="form-control form-control-lg"
            name= "password"
            required
          >
          <button class="btn btn-success mt-3 ">Login</button>
        </form>
    </div>
</div>