<footer >
    <div class="f-info  class= sticky-bottom">
        <div class="f-info-social">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>

        </div>
        <div class="f-info-brand"> &copy; Wanderlust private Limited</div>
        <div class="f-info-links">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
            <a href="#">Company details</a>

        </div>
    </div>
</footer>